* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.first-banner {
    width: 100%;
    height: 808px;
    background: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.first-banner-content {
    position: absolute;
    left:780px;
    top: 300px;
    margin-right: 220px;
    text-align: right;
    /* border: 1px solid black; */
}

.first-banner-content h1 {
    font-size: 65px;
    margin-bottom: 15px;
    color: #151414;
}

.first-banner-content p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 15px;
}

.btn{
    padding: 15px 25px;
    background-color: #F15B22;
    color: white;
    border: 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.first-hero {
    width: 85%;
    margin: 0 auto;
    /* justify-content: space-between;
    gap: 100px; */
    align-items: center;
    position: relative;
}

.first-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    z-index: 11;
}

.circle {
    position: absolute;
    top: 197px;
    left: 25px;
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background-color: #F15B2240;
    /* visibility: hidden; */
    z-index: -1;
}

.first-hero-content {
    position: absolute;
    top: 280px;
    left: 55%;
    /* border: 1px solid black; */
    margin-right: 150px;
}

.first-hero-content h2 {
    color: #151414;
    font-size: 40px;
    margin-bottom: 15px;
}

.first-hero-content p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 15px;
}

.first-hero-content ul li{
    list-style: none;
    line-height: 30px;
    color: #444343;
}

.fa-solid {
    color: #16D887;
}