* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.hero-first {
    width: 100%;
    height: 808px;
    background: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-hero-content {
    position: absolute;
    left:780px;
    top: 300px;
    margin-right: 220px;
    text-align: right;
    /* border: 1px solid black; */
}

.first-hero-content h1 {
    font-size: 65px;
    margin-bottom: 15px;
    color: #151414;
}

.first-hero-content p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 15px;
}

.btn{
    padding: 15px 25px;
    background-color: #F15B22;
    color: white;
    border: 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}