* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Class Start */
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.heading {
    font-size: 40px;
    margin-bottom: 15px;
    color: #151414;
}

.sub-heading {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 15px;
}

.container {
    width: 72%;
    margin: 0 auto;
}

/* Common Class End */

.first-banner {
    width: 100%;
    height: 808px;
    background: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.first-banner-content {
    position: absolute;
    left:780px;
    top: 300px;
    margin-right: 220px;
    text-align: right;
    /* border: 1px solid black; */
}

.first-banner-content h1 {
    font-size: 65px;
}

.btn{
    padding: 15px 25px;
    background-color: #F15B22;
    color: white;
    border: 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 6px #efa98d;
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    box-shadow: 0 4px 25px #fa8e63;
}

.first-hero {
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    display: flex;
    margin-bottom: 150px;
    /* position: relative; */
}

/* .first-hero-image {
    top: 0;
    left: 0;
    width: 400px;
    z-index: 11;
} */

/* .circle {
    position: absolute;
    top: 197px;
    left: 25px;
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background-color: #F15B2240;
    visibility: hidden;
    z-index: -1;
} */

.first-hero-content {
    margin: 150px 150px 0 0;
}

.first-hero-content ul li{
    list-style: none;
    line-height: 30px;
    color: #444343;
}

.fa-solid {
    color: #16D887;
}

.plan-container h2 {
    text-align: center;
    margin-bottom: 80px;
}

.my-plan-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
}

.my-plan-section h3 {
    font-size: 25px;
    color: #151414;
}

.my-plan-section p {
    font-size: 20px;
    color: #444343;
}

.card-box {
    text-align: center;
    padding: 15px 10px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease;
}

.card-box:hover {
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.card-box * {
    margin-bottom: 20px;
}

.lower-baner {
    height: 300px;
    border: 1px transparent;
    border-radius: 10px;
    background-image: url(/images/gradient2.png), url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.content {
    text-align: start;
    padding: 50px 400px 50px 60px;
}

.content h2 {
    color: white;
}

.content button {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: white;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}